.menu-item {
  border-bottom: 0.5px solid gray;
  height: max-content;
  display: flex;
  width: 80%;
}

.menu-item:hover {
  background-color: rgb(255, 69, 0, 0.1);
}

.menu-item:last-child {
  border: none;
}

.item-image {
  height: 100%;
  max-width: 150px;
  flex: 1 1 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.item-image > img {
  border: 1px solid orangered;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.item-info {
  flex: 1 1 67%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.restaurant-name {
  font-size: 1.75rem;
}

.item-description {
  color: gray;
  margin-right: 8px;
}


.action-section {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-width: 150px;
  margin-right: 1rem;
}

.price {
  /* border: 1px solid green; */
  color: orangered;
  font-size: 2rem;
  font-weight: 500;
}

.cart-ctrl-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.cta-atc, .cart-ctrl-btn {
  border: 1px solid orangered;
  background-color: white;
  border-radius: 5px;
  color: orangered;
  font-size: 1rem;
  padding: 4px 8px;
}

.cart-ctrl-btn {
  width: 2rem;
  text-align: center;
}

.cta-atc:hover, .cart-ctrl-btn:hover {
  border: 1px solid rgba(0,0,0,0);
  background-color: rgba(255, 69, 0, 0.15);
}

.cta-atc:active, .cart-ctrl-btn:active {
  border: 1px solid rgba(0,0,0,0);
  background-color: rgba(255, 69, 0, 0.5);
  color: white;
}

.cart-qty {
  color: gray;
}