.restaurant-item {
  border-bottom: 0.5px solid gray;
  height: max-content;
  display: flex;
  width: 80%;
  text-decoration: none;
}

.restaurant-item:hover {
  background-color: rgb(255, 69, 0, 0.1);
}

.restaurant-item:last-child {
  border: none;
}

.restaurant-image {
  height: 100%;
  max-width: 150px;
  flex: 1 1 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.restaurant-image > img {
  border: 1px solid orangered;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.restaurant-info {
  flex: 1 1 67%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.restaurant-name {
  font-size: 1.75rem;
  color: black;
}

.restaurant-categories {
  display: flex;
  gap: 8px;
  width: 100%;
}

.restaurant-categories > li {
  list-style-type: none;
  border-radius: 3px;
  text-align: center;
  vertical-align: center;
  line-height: 100%;
  background: rgba(255, 69, 0, 0.5);
  color: white;
  padding: 2px 4px 2px;
}

.delivery-time {
  color: gray;
}