.ci-cart-item {
  border-bottom: 0.5px solid gray;
  height: max-content;
  display: flex;
  width: 100%;
}

.ci-cart-item:last-child {
  border: none;
}

.ci-item-image {
  height: 100%;
  max-width: 100px;
  flex: 1 1 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.ci-item-image > img {
  border: 1px solid orangered;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.ci-item-info {
  flex: 1 1 67%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.ci-item-name {
  font-size: 1.25rem;
}


.ci-action-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  min-width: 150px;
  margin-right: 0;
}

.ci-remove {
  height: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: white;
  color: red;
  font-size: 12px;
}

.ci-remove:hover {
  background-color: rgb(255, 0, 0, 0.25);
}

.ci-remove:active {
  background-color: rgb(255, 0, 0);
  color: white;
}

.ci-price {
  /* border: 1px solid green; */
  color: gray;
  font-size: 1.25rem;
  font-weight: 500;
}

.ci-cart-ctrl-group {
  max-width: 125px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.ci-cart-ctrl-btn {
  border: 1px solid orangered;
  background-color: white;
  border-radius: 5px;
  color: orangered;
  font-size: 1rem;
  padding: 4px 8px;
}

.ci-cart-ctrl-btn {
  width: 2rem;
  text-align: center;
}

.ci-cart-ctrl-btn:hover {
  border: 1px solid rgba(0,0,0,0);
  background-color: rgba(255, 69, 0, 0.15);
}

.ci-cart-ctrl-btn:active {
  border: 1px solid rgba(0,0,0,0);
  background-color: rgba(255, 69, 0, 0.5);
  color: white;
}

.ci-cart-qty {
  color: gray;
}